<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon"
    href="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/27972515_835606769957398_7574279324612161604_n.jpg?_nc_cat=104&_nc_oc=AQkwrnilDm5ozM9Dc2H4QXKojk5LQT5TaiDNOxhHVQk7Vf2OyB9wqwXhoQr3DMELxlU&_nc_ht=scontent.fsgn3-1.fna&oh=2e9f5c1e06dcd14a8834ee91ba01a296&oe=5CE09F0D">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- <base href="https://quoctien.herokuapp.com/" target="_blank"> -->
  <!-- <base href="http://localhost/" target="_blank"> -->
  <script src="socket.io/socket.io.js"></script>
  <script>
    var socket = io('');
    const height = 20;
    const width = 20;
    socket.on("status", function (data) {
      for (const i in data) {
        for (const j in data[i]) {
          if (data[i][j] == 1)
            $("#" + i + "-" + j).append('<b style="color: red;">X</b>')
          if (data[i][j] == 2)
            $("#" + i + "-" + j).append('<b style="color: blue ;">O</b>')
        }
      }
    })
    socket.on("tiso", function (data) {
      Object.keys(data).forEach(function (i) {
        $('#' +i).html(data[i]);
      })
    })
    socket.on("usersactive", function (data) {
      $("#usersactive").html(data)
    })
    var sendClick = function (btn) {
      socket.emit("CL-SEND-SQUARE-CLICK", $(btn).attr("id"))
    }
    newgame = function () {
      socket.emit("newgame", "New game")
    }
    socket.on("WIN", (data) => {
      setTimeout(function () {
        $("#mr" + data).html(parseInt($("#mr" + data).text()) + 1)
      }, 200);
      setTimeout(function () {
        $('#chesstable').html("");
      }, 200);
      setTimeout(function () {
        for (let row = 0; row < height; row++) {
          $("#chesstable").append("<div class='row row" + row + "'></div")
          for (let col = 0; col < width; col++) {
            $(".row" + row).append(
              "<button onclick='sendClick(this)' id='" + row + "-" + col + "'></button>"
            )
          }
        }
      }, 300);
    })
    socket.on("SV-SEND-SQUARE-CLICK", function (data) {
      if (data.turn == 0)
        $("#" + data.data).append('<b style="color: blue">O</b>')
      else
        $("#" + data.data).append('<b style="color: red;">X</b>')
    })

  </script>

</head>

<body>

  <section>
    <div class="container">
      <div class="d-flex justify-content-around">
        <button onclick="newgame()"> Ván mới </button>
        <h2 id="tiso"> Tỉ số: <span id="mr1">0</span> - <span id="mr0">0</span> </h2>
        <h2>Số người đang online: <span id="usersactive"></span></h2>
        <!-- <button> Đi lại </button> -->
      </div>
    </div>
    <hr>
  </section>
  <!-- Navbar -->
  <section>

    <div id="chesstable">
    </div>
  </section>
  <!-- Chess table -->
  <script>
    for (let row = 0; row < height; row++) {
      $("#chesstable").append("<div class='row row" + row + "'></div")
      for (let col = 0; col < width; col++) {
        $(".row" + row).append(
          "<button onclick='sendClick(this)' id='" + row + "-" + col + "'></button>"
        )
      }
    }
  </script>



</body>

</html>