body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chesstable {
  margin: 10px;
 
  -webkit-justify-content: center; /* Safari 6.1+ */
  
  justify-content: center;
}

#chesstable div {
  -webkit-justify-content: center; /* Safari 6.1+ */
  justify-content: center;
}

#chesstable div button {
  background-color: #e9eaf8;
  margin: 1px;
  width: 28px;
  height: 28px;
  background-position:center;
  background-repeat:no-repeat;
}
#chesstable div button i {
  font-size: 15px;
  font-weight: bolder;
}
 
 
 